pip install absl-py==2.3.0
pip install astunparse==1.6.3
pip install beautifulsoup4==4.13.4
pip install blinker==1.9.0
pip install --index-url=https://blpapi.bloomberg.com/repository/releases/python/simple blpapi
pip install certifi==2025.4.26
pip install cffi==1.17.1
pip install charset-normalizer==3.4.2
pip install click==8.2.1
pip install colorama==0.4.6
pip install contourpy==1.3.2
pip install curl_cffi==0.11.3
pip install cycler==0.12.1
pip install et_xmlfile==2.0.0
pip install Flask==3.1.1
pip install flatbuffers==25.2.10
pip install fonttools==4.58.2
pip install frozendict==2.4.6
pip install gast==0.6.0
pip install google-pasta==0.2.0
pip install greenlet==3.2.3
pip install grpcio==1.73.0
pip install h5py==3.14.0
pip install hmmlearn==0.3.3
pip install idna==3.10
pip install itsdangerous==2.2.0
pip install Jinja2==3.1.6
pip install joblib==1.5.1
pip install keras==3.10.0
pip install kiwisolver==1.4.8
pip install libclang==18.1.1
pip install Markdown==3.8
pip install markdown-it-py==3.0.0
pip install MarkupSafe==3.0.2
pip install matplotlib==3.10.3
pip install mdurl==0.1.2
pip install ml-dtypes==0.4.1
pip install multitasking==0.0.11
pip install namex==0.1.0
pip install newsapi-python==0.2.7
pip install numpy==1.26.4
pip install openpyxl==3.1.5
pip install opt_einsum==3.4.0
pip install optree==0.16.0
pip install packaging==25.0
pip install pandas==2.2.2
pip install peewee==3.18.1
pip install pillow==11.2.1
pip install platformdirs==4.3.8
pip install protobuf==4.25.8
pip install psycopg2-binary==2.9.10
pip install pycparser==2.22
pip install Pygments==2.19.1
pip install pyparsing==3.2.3
pip install python-dateutil==2.9.0.post0
pip install pytz==2025.2
pip install requests==2.32.4
pip install rich==14.0.0
pip install schedule==1.2.2
pip install scikit-learn==1.4.2
pip install scipy==1.13.1
pip install setuptools==80.2.0
pip install numpy==1.24.4
pip install six==1.17.0
pip install soupsieve==2.7
pip install SQLAlchemy==2.0.41
pip install tensorboard==2.17.1
pip install tensorboard-data-server==0.7.2
pip install tensorflow==2.17.0
pip install tensorflow-intel==2.17.0
pip install termcolor==2.1
pip install threadpoolctl==3.0.6
pip install typing_extensions==4.14.0
pip install tzdata==2025.2
pip install urllib3==2.4.0
pip install websockets==15.0.1
pip install Werkzeug==3.0.4
pip install wheel==0.45.1
pip install wrapt==1.17.2
pip install yfinance==0.2.62

